
Options +Indexes
RewriteEngine On
RewriteCond %{SERVER_PORT} 80 
RewriteCond %{REQUEST_URI} staging 
RewriteRule ^(.*)$ https://www.tabluu.com/staging/$1 [R,L]
RewriteRule ^index.*$ index.php [L]
RewriteRule ^setup.*$ setup.php [L]
RewriteRule ^profile.*$ profile.php [L]
RewriteRule ^uic.*$ uic.php [L]
RewriteRule ^admin.*$ admin.php [L]
RewriteRule ^feedback.*$ feedback.php [L]
RewriteRule ^reviews.*$ reviews.php [L]
RewriteRule ^sendemail.*$ sendemail.php [L]
RewriteRule ^manageuser.*$ manageuser.php [L]
RewriteRule ^plan.*$ plan.php [L]
RewriteRule ^statistic.*$ statistic.php [L]
RewriteRule ^login.*$ login.php [L]
RewriteRule ^signup.*$ signup.php [L]
RewriteRule ^fbpost.*$ fbpost.php [L]
RewriteRule ^rateone.*$ rateone.php [L]
RewriteRule ^ratetwo.*$ ratetwo.php [L]
RewriteRule ^ratethree.*$ ratethree.php [L]
RewriteRule ^ratefour.*$ ratefour.php [L]
RewriteRule ^ratefive.*$ ratefive.php [L]
RewriteRule ^ratesix.*$ ratesix.php [L]
RewriteRule ^rateseven.*$ rateseven.php [L]
RewriteRule ^takephoto.*$ takephoto.php [L]
RewriteRule ^widget.*$ widget.php [L]
RewriteRule ^socialmedia.*$ socialmedia.php [L]
RewriteRule ^share.*$ share.php [L]
RewriteRule ^embed.*$ embed.php [L]
RewriteRule ^weblink.*$ weblink.php [L]
RewriteRule ^qr-generated.*$ qr-generated.php [L]
RewriteRule ^settings.*$ settings.php [L]
RewriteRule ^onspot.*$ onspot.php [L]
RewriteRule ^webcam.*$ webcam.php [L]
RewriteRule ^qrframe9.*$ qrframe9.php [L]
RewriteRule ^qrframe4.*$ qrframe4.php [L]
RewriteRule ^error.*$ error.html [L]
RewriteRule ^alpha.*$ alpha.php [L]
RewriteRule ^beta.*$ beta.php [L]
RewriteRule ^([^/]+)/?.html$ pinme.php?nicename=$1 [L]